<!doctype html>
<html lang="en">
<head th:replace="fragments/header::fragments-header"/>
<body>
<div th:replace="fragments/header::navbar"/>
<div class="container">
<div class="row" style="margin-bottom: - 100px;">

<div class="col-xs-8">
<h2 class="section-headline"><span th:text="${#stings.toUperCase(user.username)}"></span></h2>

</div>
<div class="col-xs-4">
<img src="/images/logo.webp"class="img-responsive"/>
</div>
</div>
<div class="row" style="margin-top:120px;">
<div class="col-xs-9 col-xs-offset-3">
<!-- NavbarTabs -->
<ul class="nav nav-tabs">
<li th:classapends="${classActiveEdit}?  'active' "><a href="#tab-1" data-toggle="tab"><span style="color:#1a1a1a; font-size:20px;">Edit</span></a></li>
<li th:classapends="${classActiveOrders}?  'active' "><a href="#tab-2" data-toggle="tab"><span style="color:#1a1a1a; font-size:20px;">Orders</span></a></li>
<li th:classapends="${classActiveBilling}?  'active' "><a href="#tab-3" data-toggle="tab"><span style="color:#800000; font-size:20px;">Billing</span></a></li>
<li th:classapends="${classActiveShipping}?  'active' "><a href="#tab-4" data-toggle="tab"><span style="color:#800000; font-size:20px;">Shipping</span></a></li>

</ul>

<!-- Tab panels -->
<div class="tab-content">
<!-- edit user info -->
 <div class="tab-panel fade" id="#tab-1" th:classapends="${classActiveEdit}? 'in active'">
<div class="panel-group" style="margin-left:-300px">
<div class="panel panel-default" style="border:none;">
  <div class="form-group" style="background-color:#ededed;margin-top:20px;">
  <form th:action="@{/updateUseInfo}" methid="post">
  <input type="hidden" name ="id" th:value="${user.id}">
  <div class="bg-info" th:if="${updateUserInfo}">User info updated</div>
  <div class="form-group">
  <div class ="row">
  <div class="col-xs-6">
  <label for="firstName">First Name</label>
  <input type="text" class="form-control" id="firstName" name="firstName" th:value="${user.firstName}"/>
  </div>
  <div class="col-xs-6">
  <label for="lastName">Last Name</label>
  <input type="text" class="form-control" id="lastName" name="lastName" th:value="${user.lastName}"/>
  </div>
  </div>
  </div>
  <div class="form-group">
  <label for="userName">Username</label>
  <input type="text" class="form-control" id="userName" name="username" th:value="${user.username}"/>
  </div>
  <div class="form-group">
  <label for="currentPassword">Current Password</label>
  <input type="text" class="form-control" id="currentPassword" name="currentPassword" th:value="${currentPassword}"/>
  </div>
  <p style="color:#828282">Enter Your Password</p>
  <div class="form-group">
  <label for="email">Email</label>
  <input type="text" class="form-control" id="email" name="email" th:value="${user.email}"/>
  </div>
  <p style="color:#828282">Enter Your Email Address</p>
  <div class="form-group">
  <label for="newPassword">New Password</label>
  <input type="password" class="form-control" id="newPassword" name="newPassword" th:value="${newPassword}"/>
  </div>
 <div class="form-group">
  <label for="confirmPassword">Confirm Password</label>
  <input type="password" class="form-control" id="confirmPassword"/>
  </div>
  <p style="color:#828282">Confirm your new password</p>
  <button type="submit" class="btn btn-primary">Create new account</button>
</form>
  </div>
  </div>
</div>

</div>
<!-- </div> -->
<!--  <div class="tab-panel fade" id="#tab-2" th:classapends="${classActiveLogin}?'in active'"> -->

<div class="panel-group" style="margin-left:-300px">
<div class="panel panel-default" style="border:none;">
  <div class="form-group" style="background-color:#ededed;margin-top:20px;">
  <form>
  <div class="form-group">
   <label for="newUsername">Username</label>
<input required="required" type="text"class="form-control" id="newUsrname" name="username"/> 
  <p style="color:#828282">Enter your username here</p>
  
  </div>
       <div class="form-group"style="background-color:#ededed;margin-top:20px";>
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" name="pass">
      <p>Enter your password</p>
    
  </div>   
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>

</div>
<!-- </div> -->
<!--  <div class="tab-panel fade" id="#tab-3"> -->

<div class="panel-group" style="margin-left:-300px">
<div class="panel panel-default" style="border:none;">
  <div class="form-group" style="background-color:#ededed;margin-top:20px;">
  <form>
  <div class="form-group">
   <label for="recoverEmail">Email</label>
<input required="required" type="text"class="form-control" id="recoverEmail" name="email"/> 
  <p style="color:#828282">Enter your email address here</p>
  
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>

</div>
<!-- </div> -->
</div>


</div>
</div>


<div th:replace="fragments/header::body-bottom-scripts"/>
</body>
</html>